<div class="grid-cards">
    <mat-card class="card-listagem">
        <mat-card-header>
            <mat-card-title>
                Clientes
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="listagem">
                <table mat-table [dataSource]="clientes">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                    </ng-container>
                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef>Nome</th>
                        <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
                    </ng-container>
                    <ng-container matColumnDef="tel">
                        <th mat-header-cell *matHeaderCellDef>Telefone</th>
                        <td mat-cell *matCellDef="let row">{{ row.tel }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cadastro">
                        <th mat-header-cell *matHeaderCellDef>Cadastro</th>
                        <td mat-cell *matCellDef="let row">{{ row.cadastro }}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Ações</th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="primary" (click)="openModalEdit(row.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="openModalConfirm(row.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-add">
        <mat-card-header>
            <mat-card-title>
                Adicionar Cliente
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput name="nome" [(ngModel)]="cliente.nome" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <span matPrefix>+55 &nbsp;</span>
                    <input type="number" matInput name="tel" [(ngModel)]="cliente.tel" required>
                </mat-form-field>
                <mat-form-field class="data-select">
                    <mat-label>Data Cadastro</mat-label>
                    <mat-select required [value]="cliente.cadastro">
                        <mat-option>None</mat-option>
                        <mat-option [value]="cliente.cadastro">Janeiro</mat-option>
                        <mat-option [value]="cliente.cadastro">Fevereiro</mat-option>
                        <mat-option [value]="cliente.cadastro">Março</mat-option>
                        <mat-option [value]="cliente.cadastro">Abril</mat-option>
                        <mat-option [value]="cliente.cadastro">Maio</mat-option>
                        <mat-option [value]="cliente.cadastro">Junho</mat-option>
                        <mat-option [value]="cliente.cadastro">Julho</mat-option>
                        <mat-option [value]="cliente.cadastro">Agosto</mat-option>
                        <mat-option [value]="cliente.cadastro">Setembro</mat-option>
                        <mat-option [value]="cliente.cadastro">Outubro</mat-option>
                        <mat-option [value]="cliente.cadastro">Novembro</mat-option>
                        <mat-option [value]="cliente.cadastro">Dezembro</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <button mat-button color="primary" (click)="createCliente()"
                [disabled]="cliente.nome === '' || cliente.tel === '' || cliente.cadastro === '' ">
                Adicionar Cliente
            </button>
        </mat-card-content>
    </mat-card>
</div>