<div class="grid-container">
    <mat-grid-list cols="1" rowHeight="220px">
        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Estatísticas: {{ dashboardService.dataGraphic }} clientes
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div class="align">
                        <div class="chart">
                            <canvas baseChart  
                                [datasets]="dashboardService.lineChartData"
                                [options]="dashboardService.lineChartOptions" 
                                [colors]="dashboardService.lineChartColors"
                                [legend]="dashboardService.lineChartLegend" 
                                [chartType]="dashboardService.lineChartType"
                                [labels]="dashboardService.lineChartLabels">
                            </canvas>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>