.grid-container {
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 65px;
    margin-left: 200px;
}

.dashboard-card {
    width: 100%;
}

.dashboard-card-content {
    text-align: center;
}