<mat-toolbar class="toolbar">
    <div class="image">
        <img src="../../../assets/logoPetraWeb.svg" alt="Logo Petraweb" />
    </div>
    <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <div class="toolbar-options">
        <button mat-icon-button matTooltip="Ajuda" class="btn-icon">
            <mat-icon>help</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Área do Cliente" class="btn-icon">
            <mat-icon>people</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Notificações" class="btn-icon">
            <mat-icon>notifications</mat-icon>
        </button>
        <div mat-button class="manage-user">
            <div class="toolbar-user">
                <span class="name-user">Raphael Cunha</span>
            </div>
            <mat-icon class="btn-icon">account_circle</mat-icon>
        </div>
    </div>
</mat-toolbar>